<%= simple_form_for @media_center do |f| %>
  <div class="field">
    <%= f.input :title %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, required: true %>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>
  <%= f.submit "Save" %>
<% end %>
