  <div class="media-sidebar-container" data-controller="media_sidebar" style="width:200px;">
    <p class="media-solutions-by-market-desktop"><strong>Posts</strong></p>
    <p class="media-solutions-by-market-mobile" data-action="click->media_sidebar#mobileToggle"><strong>Posts</strong> <i class="fas fa-search"></i></p>
    <div class="media-sidebar-mobile" data-media_sidebar-target="mobileSidebar">
    <%  @media_centers.each do |media_center| %>
    <%= link_to media_center.title, media_center_path(media_center), class: "media-sidebar-header" %>
    <hr class="sidebar-border">
    <% end %>
    </div>
  </div>
   <% if current_user %>
      <div class="new-post">
        <%= link_to "New Post", new_media_center_path, class: "button-media" %>
      </div>
    <% end %>
<div class="media-center-container">
  <h1 class="media-main-header">Media Center</h1>

    <div class="cards-container-media">
      <div class="cards-div-media">
        <% @media_centers.each do |media_center| %>
          <div class="card-media">
            <div class="card-image" style="background-image: url('<%= cl_image_path(media_center.photo.key, crop: :fill)%>');">
            </div>
            <div class="card-bottom">
              <h3 class="card-bottom-h3"><%= media_center.title %></h3>
              <%= link_to "read more...", media_center_path(media_center), class: "button-card" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
