<%= render "sidebar" %>
<% if current_user %>
  <div class="new-post">
    <%= link_to "New Post", new_media_center_path, class: "button-media" %>
  </div>
<% end %>
<div class="media-center-container">
  <h1 class="media-main-header">Media Center</h1>
    <div class="cards-container-media">
      <div class="cards-div-media">
        <% @media_centers.each do |media_center| %>
          <div class="card-media">
            <%= link_to "", media_center_path(media_center), class: "card-link" %>
            <div class="card-image" style="background-image: url('<%= cl_image_path(media_center.photos.first.key, crop: :fill)%>');">
            </div>
            <div class="card-bottom-media">
              <h3 class="card-bottom-h3"><%= media_center.title %></h3>
              <%= link_to "read more...", media_center_path(media_center), class: "button-card" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
