<link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
<%= render "sidebar" %>
<div class="media-center-container">
  <div class="media-center-show-div">
    <% if current_user %>
      <div style="text-align:center;margin-bottom:20px;">
        <%= link_to "Update", edit_media_center_path(@media_center), class: "button-media" %>
        <%= link_to "Delete", media_center_path(@media_center), method: :delete, data: { confirm: "Are you sure?" }, class: "button-media" %>
      </div>
    <% end %>
    <div class="trix-content" style="text-align:center;">
      <h2 class="media-center-header"><%= @media_center.title %></h2>
      <%= @media_center.content %>
    </div>
  </div>
</div>

<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
