<div class="footer">
  <div class="footer-left">
    <ul id="footer-ul-left">
      <li class="footer-header">Careers</li>
      <li class="footer-text">Contact Us</li>
    </ul>
    <ul>
      <li class="footer-header">Locations</li>
      <li class="footer-text ul-footer-middle">Asia Pacific</li>
      <li class="footer-text ul-footer-middle">Latin America</li>
      <li class="footer-text ul-footer-middle">Middle East</li>
      <li class="footer-text ul-footer-middle">North Africa</li>
      <li class="footer-text ul-footer-middle">Europe</li>
    </ul>
    <ul>
      <li class="footer-header">Social Media</li>
      <div class="social-media">
        <%= link_to '#', :target => "_blank" do %>
          <%= image_tag "linkedin.png", style: "height: 30px; width: 30px;" %>
        <% end %>
        <%= link_to '#', :target => "_blank" do %>
          <%= image_tag "facebook.png", style: "height: 30px; width: 30px;" %>
        <% end %>
        <%= link_to '#', :target => "_blank" do %>
          <%= image_tag "twitter.png", style: "height: 30px; width: 30px;" %>
        <% end %>
      </div>
      <li class="footer-text">JAS Global Industries Privacy & Cookie Policy <br>Terms & Conditions</li>
    </ul>
  </div>
  <p>© JAS Global Industries 2022</p>
</div>
