<div class="footer">
  <div class="footer-left">
    <ul id="footer-ul-left">
      <li class="footer-header">Careers</li>
      <li class="footer-text"><%= link_to "Contact Us", contact_path %></li>
    </ul>
    <ul>
      <li class="footer-header">Locations</li>
      <li class="footer-text ul-footer-middle"><%= link_to "Asia Pacific",locations_path(anchor: "Asia_Pacific") %></li>
      <li class="footer-text ul-footer-middle"><%= link_to "Latin America",locations_path(anchor: "Latin_America") %></li>
      <li class="footer-text ul-footer-middle"><%= link_to "Middle East",locations_path(anchor: "Middle_East") %></li>
      <li class="footer-text ul-footer-middle"><%= link_to "North Africa",locations_path(anchor: "North_Africa") %></li>
      <li class="footer-text ul-footer-middle"><%= link_to "Europe",locations_path(anchor: "Europe") %></li>
    </ul>
    <ul>
      <li class="footer-header">Social Media</li>
      <div class="social-media">
        <%= link_to '#', :target => "_blank" do %>
          <%= image_tag "linkedin.png", style: "height: 30px; width: 30px;" %>
        <% end %>
        <%= link_to '#', :target => "_blank" do %>
          <%= image_tag "facebook.png", style: "height: 30px; width: 30px;" %>
        <% end %>
        <%= link_to '#', :target => "_blank" do %>
          <%= image_tag "twitter.png", style: "height: 30px; width: 30px;" %>
        <% end %>
      </div>
      <li class="footer-text">JAS Global Industries Privacy & Cookie Policy <br>Terms & Conditions</li>
    </ul>
  </div>
  <p>© JAS Global Industries <%= Date.today.year %></p>
</div>
