<%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
<div class="navbar">

  <%= link_to "Our Company", our_company_path, class: "links-hide" %>
  <%= link_to "Product & Solutions", products_path, class: "links-hide" %>
  <%= link_to "Media Center", media_centers_path, class: "links-hide" %>
  <%= link_to "JAS Cares", jas_cares_path, class: "links-hide" %>
  <%= link_to "Contact Us", contact_path, class: "links-hide" %>
  <%= link_to "Locations", locations_path, class: "links-hide" %>
  <div class="dropdown">
    <button id="dropdown" style="width:170px;"class="dropbtn">
      <i style="font-size:32px;"class="fa-solid fa-bars"></i>
    </button>
    <div id="dropdowns" class="dropdown-content">
      <%= link_to "Our Company", our_company_path %>
      <%= link_to "Product & Solutions", products_path %>
      <%= link_to "Media Center", media_centers_path %>
      <%= link_to "JAS Cares", jas_cares_path %>
      <%= link_to "Contact Us", contact_path %>
      <%= link_to "Locations", locations_path %>
    </div>
  </div>
</div>
