<div id="navbar">
  <div id="navbar-logo">
    <%= image_tag "logo.png"%>
  </div>
  <div id="navbar-links">
    <%= link_to "Our Company", root_path %>
    <%= link_to "Products & Solutions", root_path %>
    <%= link_to "Media Center", root_path %>
    <%= link_to "Downloads", root_path %>
    <%= link_to "Careers", root_path %>
    <%= link_to "Contact Us", root_path %>
    <%= link_to "Locations", root_path %>
  </div>
</div>
