<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <%= image_tag "home-slide-1.png", class: "d-block", alt: ""  %>
    </div>
    <div class="carousel-item">
      <%= image_tag "home-slide-2.jpg", class: "d-block", alt: "" %>
    </div>
    <div class="carousel-item">
      <%# <%= cl_video_tag("https://asset.cloudinary.com/dgkfw5qpt/1de45ee55f3afe7f5175f4f5ded31224", autoplay: :autoplay, class: "d-block", alt: "") %>
      <%= cl_video_tag("Slide3movie_mtr7qk", autoplay: :autoplay, muted: true, style: "display:flex") %>
      <%# # <%= image_tag "home-slide-2.jpg", class: "d-block", alt: "" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div id="product-banner">
  <h1>Find the right <strong>solutions</strong> for you needs</h1>
  <div class="product-container" style="display:flex;justify-content:center;">
    <ul>
      <li>
        <%= link_to products_water_treatment_path do %>
          <div class="product-banner-div">
            <%= image_tag "1-WT.jpg", alt: "" %>
            Water<br>
            Treatment
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to products_mining_path do %>
          <div class="product-banner-div">
            <%= image_tag "2-M.jpg", alt: "" %>
            Mining
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to products_fertilizers_path do %>
          <div class="product-banner-div">
            <%= image_tag "3-Fert.jpg", alt: "" %>
            Fertilizers
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to products_oil_and_gas_path do %>
          <div class="product-banner-div">
            <%= image_tag "4-O&G.jpg", alt: "" %>
            Oil & Gas
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to products_fireside_treatment_path do %>
          <div class="product-banner-div">
            <%= image_tag "5-F.jpg", alt: "" %>
            Fireside<br>
            Treatment
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to products_construction_path do %>
          <div class="product-banner-div">
            <%= image_tag "6-C.jpg", alt: "" %>
            Construction
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to products_home_care_path do %>
          <div class="product-banner-div">
            <%= image_tag "7-HC.jpg", alt: "" %>
            HomeCare
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to products_personal_care_path do %>
          <div class="product-banner-div">
            <%= image_tag "8-PC.jpg", alt: "" %>
            PersonalCare
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to products_paper_and_pulp_path do %>
          <div class="product-banner-div">
            <%= image_tag "9-P&P.jpg", alt: "" %>
            Paper<br>
            & Pulp
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to products_textile_and_leather_path do %>
          <div class="product-banner-div">
            <%= image_tag "10-T&L.jpg", alt: "" %>
            Textile<br>
            & Leather
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<div class="jas-cares-div">
  <div id="jas-cares" style="background-image: url('<%=image_url('jas-cares-banner.jpg')%>');">
  </div>
</div>

<div class="cards-container">
  <div class="cards-div">
    <div class="card">
      <div class="card-image" style="background-image: url('<%=image_url('products/textile-and-leather.jpg')%>');">
      </div>
      <div class="card-bottom">
        <h3>Lorem Ipsum Dolor Sit Amet Adpiscing Elit</h2>
        <p>Lorem Ipsum Dolor Sit Amet Adpiscing</p>
        <a class="button-card" href="">read more...</a>
      </div>
    </div>
    <div class="card">
      <div class="card-image" style="background-image: url('<%=image_url('products/textile-and-leather.jpg')%>');">
      </div>
      <div class="card-bottom">
        <h3>Lorem Ipsum Dolor Sit Amet Adpiscing Elit</h2>
        <p>Lorem Ipsum Dolor Sit Amet Adpiscing</p>
        <a class="button-card" href="">read more...</a>
      </div>
    </div>
    <div class="card">
      <div  class="card-image" style="background-image: url('<%=image_url('products/textile-and-leather.jpg')%>');">
      </div>
      <div class="card-bottom">
        <h3>Lorem Ipsum Dolor Sit Amet Adpiscing Elit</h2>
        <p>Lorem Ipsum Dolor Sit Amet Adpiscing</p>
        <a class="button-card" href="">read more...</a>
      </div>
    </div>
  </div>
</div>
