<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <%= image_tag "home-slide-1.png", class: "d-block", alt: ""  %>
    </div>
    <div class="carousel-item">
      <%= image_tag "home-slide-2.jpg", class: "d-block", alt: "" %>
    </div>
    <div class="carousel-item">
      <%# <%= video_tag "home-slide-3.mov", autoplay: :autoplay, class: "d-block", alt: "" %>
      <%= image_tag "home-slide-2.jpg", class: "d-block", alt: "" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div id="product-banner">
  <h1>Find the right <strong>solutions</strong> for you needs</h1>
  <div style="display:flex;justify-content:center;">
  <ul>
    <li>
      <div class="product-banner-div">
        <%= image_tag "home-slide-1.png", alt: "" %>
        Water<br>
        Treatment
      </div>
    </li>
    <li>
      <div class="product-banner-div">
        <%= image_tag "home-slide-1.png", alt: "" %>
        Mining
      </div>
    </li>
    <li>
      <div class="product-banner-div">
        <%= image_tag "home-slide-1.png", alt: "" %>
        Fertilizers
      </div>
    </li>
    <li>
      <div class="product-banner-div">
        <%= image_tag "home-slide-1.png", alt: "" %>
        Oil & Gas
      </div>
    </li>
    <li>
      <div class="product-banner-div">
        <%= image_tag "home-slide-1.png", alt: "" %>
        Fireside<br>
        Treatment
      </div>
    </li>
    <li>
      <div class="product-banner-div">
        <%= image_tag "home-slide-1.png", alt: "" %>
        Construction
      </div>
    </li>
    <li>
      <div class="product-banner-div">
        <%= image_tag "home-slide-1.png", alt: "" %>
        HomeCare<br>
        & PersonalCare
      </div>
    </li>
    <li>
      <div class="product-banner-div">
        <%= image_tag "home-slide-1.png", alt: "" %>
        Paper<br>
        & Pulp
      </div>
    </li>
    <li>
      <div class="product-banner-div">
        <%= image_tag "home-slide-1.png", alt: "" %>
        Textile<br>
        & Leather
      </div>
    </li>
  </ul>
  </div>

</div>
