<div class="jas-cares-banner" style="background-image: url('<%=image_url('jas-cares.jpg')%>');">
</div>

<div class="jas-cares-container">
  <div class="jas-cares-top">
    <p><span class="bold-colored-p">JAS Cares</span> is our charitable foundation that prioritizes helping and improving the communities we serve around the world. At JAS, we empower our employees to serve and strengthen their local communities through volunteering, mentoring, and other philanthropic activities that will change people’s lives. While we have a few regular communities we serve, our employees globally are constantly finding new people we can help, and each and every one of us contribute in any way that is needed.</p>
    <br>
    <p>While many organizations simply donate to charities monetarily, we take our efforts one step further by asking these communities what they need from us and prioritizing those specific needs. If they need clothes, we’ll donate some of our own clothes or buy them new ones. If they need food, we’ll send over boxes of food that have a long shelf-life. If their children need books or school supplies, we’ll provide them with more educational materials than was on their original list. If they need money for rent or their children’s school tuition, then that is what they will receive from us. Our contributions range from monetary help to food, education, clothes, youth employment, and mentorship.</p>
    <br>
    <p>They ask, and we listen - because <span class="bold-colored-p">JAS cares.</span></p>
  </div>
  <div style="display:flex;justify-content:center;">

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>

    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "jas_cares/Jordan_JASCares2021:2.jpg", class: "d-block jas-cares-carousel-item", alt: "" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jas_cares/Jordan_JASCares2021:3.jpg", class: "d-block jas-cares-carousel-item", alt: "" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jas_cares/Jordan_JASCares2021:4.jpg", class: "d-block jas-cares-carousel-item", alt: "" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jas_cares/Jordan_JASCares2021:5.jpg", class: "d-block jas-cares-carousel-item", alt: "" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jas_cares/Jordan_JASCares2021:6.jpg", class: "d-block jas-cares-carousel-item", alt: "" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jas_cares/Jordan_JASCares2021.jpg", class: "d-block jas-cares-carousel-item", alt: "" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jas_cares/Morocco_JASCares2021:2.jpg", class: "d-block jas-cares-carousel-item", alt: "" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jas_cares/Morocco_JASCares2021:3.jpg", class: "d-block jas-cares-carousel-item", alt: "" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "jas_cares/Morocco_JASCares2021.jpg", class: "d-block jas-cares-carousel-item", alt: "" %>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  </div>


</div>
