
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<%# <div class="locations-banner" style="background-image: url('<%=image_url('home-slide-1.png')%>
<%# </div> %>

<div class="locations-container">

  <div class="row">
    <div class="column">
      <div>
        <h2 id="Asia_Pacific">Asia <br>Pacific</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "china.png" %>
        <p>China</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "hong-kong.png" %>
        <p>Hongkong</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "india.png" %>
        <p>India</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "indonesia.png" %>
        <p>Indonesia</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="column">
      <div>
        <h2 id="Latin_America">Latin <br>America</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "brazil.png" %>
        <p>Brazil</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
        </div>
      </div>
    </div>
  </div>








  <div class="row">
    <div class="column">
      <div>
        <h2 id="Middle_East">Middle <br>East</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "jordan.png" %>
        <p>Jordan</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "saudi-arabia.png" %>
        <p>KSA</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "united-arab-emirates.png" %>
        <p>UAE</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="column">
      <div>
        <h2 id="North_Africa">North <br>Africa</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "egypt.png" %>
        <p>Egypt</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "morocco.png" %>
        <p>Morocco</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <div>
        <h2 id="Europe">Europe</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "brazil.png" %>
        <p>Spain</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
        </div>
      </div>
    </div>
  </div>


</div>
