<div class="locations-banner" style="background-image: url('<%=image_url('home-slide-1.png')%>');">
</div>

<div class="locations-container">

  <div class="row">
    <div class="column">
      <div>
        <h2>Asia <br>Pacific</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>China</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>Hongkong</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>India</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>Indonesia</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="column">
      <div>
        <h2>Latin <br>America</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>Brazil</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
        </div>
      </div>
    </div>
  </div>








  <div class="row">
    <div class="column">
      <div>
        <h2>Middle <br>East</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>Jordan</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>KSA</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>UAE</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="column">
      <div>
        <h2>North <br>Africa</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>Egypt</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
          <div class="border-right">
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>Morocco</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <div>
        <h2>Spain</h2>
      </div>
    </div>

    <div class="column">
      <div class="country-info-div">
        <%= image_tag "1-WT.jpg" %>
        <p>Brazil</p>
        <div class="country-info">
          <%= image_tag "facebook.png" %>
          <p>10</p>
          <%= image_tag "facebook.png", class: "country-info-icon-right"%>
          <p>20</p>
        </div>
      </div>
    </div>
  </div>


</div>
