<div class="our-company-banner" style="background-image: url('<%=image_url('our-company-banner.jpg')%>');">
</div>

<div class="our-company-container">
  <div class="our-company-top">
    <p>Since 1998, our priority has been to provide you with superior chemical chemical solutions and partner with you to design custom-made products that cater to your specific and growing needs. As the priorities of the industries we serve evolve, we are equipped with the extensive chemical manufacturing capabilities, logistics, industry-wide application expertise and sourcing capabilities to evolve with you. We don’t just distribute quality, but we manufacture long-term relationships with all our customers, while keeping environmental protection and social responsibility at the forefront of what we do.</p>
    <br>
    <p>Our superior problem-solving capabilities have proven our long-standing reputation as market leaders in the field. We determine exactly what chemical technology will solve your problem, and work with you on the full implementation from end-to-end until that problem is solved. We serve customers all over the globe and guarantee each partnership receives customized solutions that are sustainable, cost effective and marginally ehance operational efficiency.</p>
  </div>
  <div class="our-company-header-middle">
    <h2>Our Mission & Vision</h2>
  </div>

  <div class="mission-grid">

      <div class="column-mission side-column-left">
        <div style="height:200px;overflow-y:scroll;">
          <h2>Sustainability & Environmental Impact</h2>
          <p>We strive to reduce greenhouse gas emissions as well as liquid and solid industrial waste by developing the innovative chemical additives that enhance your manufacturing plant efficiency and reduces environmental impact. We source the finest quality raw materials for the manufacturing of our chemical additives, with the ultimate goal of reaching 100% sustainability. </p>
        </div>
      </div>
      <div class="column-mission center-column">
        <div class="column-border-left"></div>
        <div class="column-border-right"></div>
        <%= image_tag "facebook.png", class: "center-column-icon-left"%>
        <%= image_tag "twitter.png", class: "center-column-icon-right"%>
      </div>
      <div class="column-mission side-column-right">
        <div style="height:200px;overflow-y:scroll;">
          <h2>Innovation & Product Impact</h2>
          <p>Innovation is at the core of our strategy. We are consistently developing and manufacturing best-in-class custom-made chemical additives, in addition to achieving cost-effective solutions across our entire range. We continue to work with our customers to create custom solutions for their needs.</p>
        </div>
      </div>


      <div class="column-mission side-column-left">
        <div style="height:200px;overflow-y:scroll;">
          <h2>Supply Chain</h2>
          <p>Our competitive advantage lies in our commitment to sourcing raw materials from approved suppliers where humane working conditions are guaranteed. Our presence worldwide inherently comes with a responsibility towards our communities and the planet, so we leverage our technical expertise in chemistry and application to develop chemical additive solutions for a sustainable future.</p>
        </div>
      </div>
      <div class="column-mission center-column">
        <div class="column-border-left"></div>
        <div class="column-border-right"></div>
        <%= image_tag "facebook.png", class: "center-column-icon-left" %>
        <%= image_tag "twitter.png", class: "center-column-icon-right" %>
      </div>
      <div class="column-mission side-column-right">
        <div style="height:200px;overflow-y:scroll;">
          <h2>People & Culture</h2>
          <p>Our people are the heart of our company, and we take pride in providing a safe, inclusive, and fair environment for our employees who are the biggest contributors to our company’s success. We continue to provide our employees with the opportunity to give back to their own communities and markets they serve through our charitable foundation, JAS for Hope.</p>
        </div>
      </div>

  </div>

  <div class="border-divider"></div>

  <div class="our-company-header-bottom">
    <h2>Our Core Business Values</h2>
  </div>

  <div class="values-grid">
    <div class="column-values-left">
    </div>
    <div class="column-values-center">
    </div>
    <div class="column-values-right column-values-border">
      <h2>Personalized technincal support</h2>
    </div>

    <div class="column-values-left column-values-border">
      <h2>Consistent product quality</h2>
    </div>
    <div class="column-values-center">
      <div class="column-values-border-left"></div>
      <div class="column-values-border-right"></div>
      <%= image_tag "1-WT.jpg", class: "center-column-value-icon-left"%>
      <%= image_tag "2-M.jpg", class: "center-column-value-icon-right"%>
    </div>
    <div class="column-values-right">
    </div>

    <div class="column-values-left">
    </div>
    <div class="column-values-center">
    </div>
    <div class="column-values-right column-values-border">
      <h2>Environmentaly conscious and sustainable solutions</h2>
    </div>

    <div class="column-values-left column-values-border">
      <h2>Strong technical expertise of all employees</h2>
    </div>
    <div class="column-values-center">
      <div class="column-values-border-left"></div>
      <div class="column-values-border-right"></div>
      <%= image_tag "1-WT.jpg", class: "center-column-value-icon-left"%>
      <%= image_tag "2-M.jpg", class: "center-column-value-icon-right"%>
    </div>
    <div class="column-values-right">
    </div>

    <div class="column-values-left">
    </div>
    <div class="column-values-center">
    </div>
    <div class="column-values-right column-values-border">
      <h2>Continuous investment in innovative and new technologies</h2>
    </div>

    <div class="column-values-left column-values-border">
      <h2>Development in procurement strategies</h2>
    </div>
    <div class="column-values-center">
      <div class="column-values-border-left"></div>
      <div class="column-values-border-right"></div>
      <%= image_tag "1-WT.jpg", class: "center-column-value-icon-left"%>
      <%= image_tag "2-M.jpg", class: "center-column-value-icon-right"%>
    </div>
    <div class="column-values-right">
    </div>

    <div class="column-values-left">
    </div>
    <div class="column-values-center">
      <div class="column-values-border-right-last"></div>
       <%= image_tag "2-M.jpg", class: "center-column-value-icon-right-last"%>
    </div>
    <div class="column-values-right column-values-border">
      <h2>Optimize utilization of available resources</h2>
    </div>

  </div>

  <div class="border-divider" style="margin-bottom:50px;"></div>

  <div class="our-company-bottom-box-div" style="background-image: url('<%=image_url('r&d-2.png')%>');">
    <div class="our-company-bottom-box">
      <h2>Research & Development</h2>
      <p>Research and development (R&D) is one of the core principles of our business strategy. In order to deliver the best-in-class chemical technologies to our customers, we invest in our own R&D centres and highly-qualified engineers and chemists. We leverage our technical expertise by constantly striving to bring forward the most sustainable and cost-effective technologies to our customers. Our R&D centres across the MENA region allow us to stay ahead of our competitors in terms of effective and optimized chemical technologies.</p>
    </div>
  </div>
  <div class="border-divider" style="margin-bottom:50px;"></div>
  <div class="our-company-bottom-box-div bottom-box-2" style="background-image: url('<%=image_url('r&d-1.png')%>');">
    <div class="our-company-bottom-box">
      <h2>Quality</h2>
      <p>Our products comply with the most demanding global and local regulations for the respective business category, allowing JAS Global Industries to meet customers’ quality demands while supporting the marketability of their products worldwide. Our certifications include:</p>
      <ul>
        <li>REACH</li>
        <li>CLP (Classification, Labelling & Packaging)</li>
        <li>TSCA (US Toxic Substance Control Act)</li>
        <li>ISO (9001, 18001 & 14001)</li>
        <li>IAF</li>
        <li>BQC</li>
        <li>KIWA & NSF</li>
      </ul>
    </div>
  </div>









</div>
