<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h2>Contact Mail</h2>
    <div class="container">
      <div>
        <p><strong>Market:</strong> <%= @lead.market %></p>
        <p style="margin-bottom:50px;"><strong>Department:</strong> <%= @lead.department %></p>
        <p><strong>Contact Information:</strong></p>
        <p>Message: <%= @lead.question %></p>
        <p>First Name: <%= @lead.first_name %></p>
        <p>Last Name: <%= @lead.last_name %></p>
        <p>Email: <%= @lead.email %></p>
        <p>Phone Number: <%= @lead.phone_number %></p>
        <p>Company: <%= @lead.company %></p>
        <p>Country: <%= @lead.country %></p>
        <p>City: <%= @lead.city %></p>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
