<%= simple_form_for @product_lead, url: products_water_treatment_path, method: :post, remote: true do |f| %>
  <% if @product_lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_lead.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @product_lead.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="close-button-div">
    <h3 class="form-header">Request Documentation</h3>
    <button class="close-form-button" data-modal_reveal-target="button" data-action="click->modal_reveal#toggleModal">Close</button>
  </div>
  <div>
    <%=  f.association :product, collection: @products, required: true, label: false, selected: product.id %>
  </div>
  <div class="contact-form-bottom">
    <div class="contact-form-left">
      <%=  f.input :first_name, input_html: { class: "contact-input" }, required: true %>
      <%=  f.input :email, input_html: { class: "contact-input" }, required: true %>
      <%=  f.input :city, label: "City (optional)", input_html: { class: "contact-input" }%>
    </div>
    <div class="contact-form-right">
      <%=  f.input :last_name, input_html: { class: "contact-input" }, required: true %>
      <%=  f.input :phone_number, label: "Phone number", input_html: { class: "contact-input" } %>
      <%=  f.input :company, input_html: { class: "contact-input" }, required: true %>
    </div>
  </div>
    <%=  f.country_select :country, { include_blank: 'Select a country' } ,required: true %>
  <div>
  </div>
  <p class="terms-contact-form">The personal data contained in this form is intended for the sole use of JAS Global Industries. We will use this data to respond to your request or obtain additional information from you as needed, as the case may be. You have the right to access, correct and request the deletion, restriction or portability of your personal data as applicable, or object to its processing, by sending an electronic mail to privacy@jasind.com. For more information, please visit our ‘JAS Global Industries Data Protection and Privacy Policy’ available at: Privacy policy</p>
  <div class="submit-box">
    <div class="terms-div">
      <%=f.check_box :terms_and_conditions, required: true %>
      <p>I hereby agree to the storage and the use of my personal data by JAS Global Industries to answer to the inquiry above.</p>
    </div>
    <%= recaptcha_tags %>
    <%= f.submit "Submit", id: "submit-button" %>
  </div>
<% end %>
