  <div class="product-sidebar-container" data-controller="sidebar">
    <p class="solutions-by-market-desktop"><strong>Solutions by Market</strong></p>
    <p class="solutions-by-market-mobile" data-action="click->sidebar#mobileToggle"><strong>Search Solutions by Market</strong> <i class="fas fa-search"></i></p>
    <div class="sidebar-mobile" data-sidebar-target="mobileSidebar">
    <p class="sidebar-header" data-action="click->sidebar#toggle">Water Treatment</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "Thermal Desalination", products_water_treatment_path(anchor: "thermal_desalination") %>
      <%= link_to "Reverse Osmosis", products_water_treatment_path(anchor: "reverse_osmosis") %>
      <%= link_to "Wastewater Treatment", products_water_treatment_path(anchor: "wastewater_treatment") %>
      <%= link_to "Steam Boilers", products_water_treatment_path(anchor: "steam_boilers") %>
      <%= link_to "Cooling Systems", products_water_treatment_path(anchor: "cooling_systems") %>
      <%= link_to "Ion Exchange", products_water_treatment_path(anchor: "ion_exchange") %>
      <%= link_to "Swimming Pools & Disinfection", products_water_treatment_path(anchor: "swimming_pools_and_disinfection") %>
    </div>
    <p class="sidebar-header" data-action="click->sidebar#toggle">Mining</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "Mining General", products_mining_path(anchor: "mining_general") %>
      <%= link_to "Phosphate", products_mining_path(anchor: "phosphate") %>
      <%= link_to "Phosphoric Acid", products_mining_path(anchor: "phosphoric_acid") %>
      <%= link_to "Alumina Mining", products_mining_path(anchor: "alumina_mining") %>
      <%= link_to "Mineral Processing", products_mining_path(anchor: "mineral_processing") %>
    </div>
    <p class="sidebar-header" data-action="click->sidebar#toggle">Fertilizers</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "Fertilizers General", products_fertilizers_path(anchor: "fertilizers_general") %>
      <%= link_to "Coloring Agents", products_fertilizers_path(anchor: "coloring_agents") %>
      <%= link_to "Dust Management", products_fertilizers_path(anchor: "dust_management") %>
      <%= link_to "Anti Caking", products_fertilizers_path(anchor: "anti_caking") %>
      <%= link_to "Potash", products_fertilizers_path(anchor: "potash") %>
    </div>
    <p class="sidebar-header" data-action="click->sidebar#toggle">Oil & Gas</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "Oil & Gas General", products_oil_and_gas_path(anchor: "oil_and_gas_general") %>
    </div>
    <p class="sidebar-header" data-action="click->sidebar#toggle">Fireside Treatment</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "Fireside Treatment General", products_fireside_treatment_path(anchor: "fireside_treatment_general") %>
    </div>
    <p class="sidebar-header" data-action="click->sidebar#toggle">Construction</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "Construction General", products_construction_path(anchor: "construction_general") %>
      <%= link_to "Paint & Coating", products_construction_path(anchor: "paint_and_coating") %>
      <%= link_to "Ceramics", products_construction_path(anchor: "ceramics") %>
      <%= link_to "Concrete", products_construction_path(anchor: "concrete") %>
      <%= link_to "Cement", products_construction_path(anchor: "cement") %>
    </div>
    <p class="sidebar-header" data-action="click->sidebar#toggle">HomeCare</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "HomeCare General", products_home_care_path(anchor: "home_care_general") %>
    </div>
    <p class="sidebar-header" data-action="click->sidebar#toggle">PersonalCare</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "PersonalCare General", products_personal_care_path(anchor: "personal_care_general") %>
    </div>
    <p class="sidebar-header" data-action="click->sidebar#toggle">Paper & Pulp</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "Paper & Pulp General", products_paper_and_pulp_path(anchor: "paper_and_pulp_general") %>
    </div>
    <p class="sidebar-header" data-action="click->sidebar#toggle">Textile & Leather</p>
    <hr class="sidebar-border">
    <div class="subcategory-sidebar-div d-none">
      <%= link_to "Textile & Leather General", products_textile_and_leather_path(anchor: "textile_and_leather_general") %>
    </div>
    </div>
  </div>
