<%= render "sidebar" %>
<div class="product-solutions-container">
  <div class="product-main-right-div">
    <h2 class="product-solutions-header">Construction</h2>
    <div id="construction_general" class="product-solutions-image" style="background-image: url('<%= image_url('products/general-construction.jpg')%>');">
      <h2 class="image-text">General</h2>
    </div>
    <p>It is estimated that by 2050, the global population will reach nine billion, increasing the demand for urbanization which requires sustainable concepts for housing and construction. Over the last two decades, <strong>JAS Global Indusries</strong> has been at the forefront of sustainable construction projects with innovative and sustainable chemistry that increases the durability of buildings and lessens the need for maintenance resources.</p>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div id="paint_and_coating" class="product-solutions-image" style="background-image: url('<%= image_url('products/paint-and-coating.jpg')%>');">
      <h2 class="image-text">Paint & Coating</h2>
    </div>
    <p>Paints and coatings manufacturers require the latest innovative and sustainable solutions that will improve surface properties, enhance the resistance to corrosion or scratching, and are environmentally sustainable in the long-term. <strong>JAS Global Indusries</strong> manufactures a wide range superior quality additives and provides you with custom services to help you meet your market needs. Our high-performance additives include dispersants, binders, thickeners, antifoams, biocides, and cellulose thickeners, that are specifically designed to address any challenge you face. Our coating solutions are formulated to resist even in the most challenging environmental conditions, including weather changes, temperature fluctuations, and corrosion.</p>
    <p>From architectural, to automotive and commercial vehicles, to industrial coatings, to adhesives and inks, we are constantly adapting and creating unique solutions to meet the dynamic market’s needs. One particular shift in the industry was the conversion from solvent-borne systems to water-bone coating formulations that comply with recent regulatory requirements. To <strong>JAS Global Indusries</strong>, environmental concerns are a priority, and we not only ensure you comply with these new regulations, but exceed expectations with our superior sustainable formulations that will benefit you in the long-term, without compromising performance. This includes improved durability, excellent polymerization control, pigment dispersion, foam control, among others.</p>
    <p>The product portfolio for Paint & Coating includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Anitfoams/Defoamers</li>
        <li>Biocides</li>
        <li>Grinding Aids for Carbonate Ore</li>
        <li>Dispersing Agents</li>
      </ul>
      <ul>
        <li>Binders</li>
        <li>Rheology modifiers</li>
        <li>Thickeners</li>
        <li>Viscosifiers</li>
      </ul>
    </div>
    <div id="ceramics" class="product-solutions-image" style="background-image: url('<%= image_url('products/ceramics.jpg')%>');">
      <h2 class="image-text">Ceramics</h2>
    </div>
    <p>Every ceramic manufacturer has their own "body" composition formulated using various raw materials and clays. Due to the low cost of sodium silicate and sodium carbonate, some producers use these as deflocculants. The use of alkaline substances induce a change in crystallography or chemical composition of the clays applied in the 'body' of the ceramic material. On one hand, the slip produced by using these substances result in excessive stickiness. On the other hand, STPP/SHMP typically involves reversion or degradation to orthophosphates through hydrolysis during grinding in ball mills. Further, orthophosphates are not active dispersants, they are anions that may actually favour flocculation or settling. </p>
    <p><strong>JAS Global Indusries</strong> offers innovative solutions to our partners in the ceramics industry that include new technologies of organic auxiliaries. Our diverse product portfolio assists in providing the ceramic body with the right flow behavior and cohesion properties. When preparation of ceramic bodies is done via the slip phase, the use of hydro soluble polymers are most of the time required.</p>
    <p>The product portfolio for Paint & Coating includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Deflocculants</li>
        <li>Dispersants</li>
      </ul>
    </div>
    <div id="concrete" class="product-solutions-image" style="background-image: url('<%= image_url('products/concrete.jpg')%>');">
      <h2 class="image-text">Concrete</h2>
    </div>
    <p>Recent trends in the concrete manufacturing industry have often required flexibility in properties of the final product which come with challenges such changing some of its characteristics and properties in order to enhance the performance under certain conditions and adapt its suitability for various applications. Hence, <strong>JAS Global Indusries</strong> manufactures a diverse range of innovative and sustainable concrete admixtures that add great value to our customers and therefore the end-user.</p>
    <p><strong>JAS Global Indusries</strong> is a global leader in the manufacturer of high quality custom-made concrete admixtures and mineral additives for almost all construction requirements such as:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Ready mix speciality concrete</li>
        <li>Precast</li>
        <li>All types of concrete products</li>
        <li>Underground construction</li>
      </ul>
    </div>
    <p>Since most of the concrete used globally is precast, site batched or ready-mix, the use of admixtures is imperative. Hence, we are constantly innovating new technologies that are sustainable and cost-effective to help our customers and partners formulate their products using our best-in-class raw materials for concrete admixtures. </p>
    <p>The product portfolio for Concrete includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Retarding admixtures</li>
        <li>Water Retarding admixtures</li>
        <li>Super plasticizers/Retarding admixtures</li>
        <li>High range super plasticizers/Retarding admixtures</li>
    </ul>
    <ul>
        <li>High range super plasticizer</li>
        <li>Ultra-high range super plasticizer admixtures</li>
        <li>Water-proofing admixtures</li>
        <li>Corrosion inhibition admixtures</li>
      </ul>
      <ul>
        <li>Air entraining admixtures/Foaming agents</li>
        <li>Antifreeze admixtures</li>
        <li>Curing compounds</li>
      </ul>
    </div>
    <div id="cement" class="product-solutions-image" style="background-image: url('<%= image_url('products/cement.png')%>');">
      <h2 class="image-text">Cement</h2>
    </div>
    <p><strong>JAS Global Indusries</strong> has been a partner to the cement industry for over two decades, developing and offering cutting-edge grinding aid technology to sustainably optimise and enhance cement manufacturer’s processes. Each cement producer has their own requirements when it comes to optimising their process. Hence, our OptiCem innovative cement grinding aids series combined with specialised technical support speciﬁcally targets improved grinding and separator efficiency, reduction in mill pack-set, enhancement of early and late compressive strength development, and increased mill throughput rate. All in which help cement manufacturers meet current and emerging market demands without compromising on cement quality.</p>
    <p>This series incorporates a range of grinding aids formulated with superior locally procured raw materials and act as performance enhancers to suppress carbon bleeding, improve concrete workability and adjust cement powder ﬂowability.</p>
    <p>The product portfolio for Cement includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>OptiCem J211 - Basic grinding aids to achieve a constant cement production at a higher mill throughput rate (tons/hour) while reducing the speciﬁc energy consumption (kWh/ton of cement).
        <li>OptiCem J222 - Grinding aids used to increase mill throughput, raise grinding and separator capability, reduce mill pack-set and enhance early & late strength development.
        <li>OptiCem J233 - Performance enhancers to improve compressive strength, concrete workability, setting time, and powder ﬂowability without compromising on quality performance.
        <li>OptiCem J244 - Specialty grinding aids with low to zero lignosulfonate content for brown discoloration sensitive cement (white cement).
      </ul>
    </div>
    <div class="border-divider" style="margin-bottom:50px;"></div>
    <%= render "download_section" %>
  </div>
</div>
