<%= render "sidebar" %>
<i class="fa-sharp fa-solid fa-circle-arrow-up" data-controller="top" data-action="click->top#scrollup"></i>
<div class="product-solutions-container">
  <div class="product-main-right-div">
    <h2 class="product-solutions-header">Fertilizers</h2>
    <br>
    <div id="fertilizers_general" class="product-solutions-image" style="background-image: url('<%= image_url('products/general-potash.jpg')%>');">
      <h2 class="image-text">General</h2>
    </div>
    <p><strong>JAS Global Indusries</strong> is the leading chemical solutions provider and partner to many of the world’s largest fertilizer manufacturers. Our complete portfolio of market leading custom-made fertilizer coatings and process aids combined with industry-wide application expertise makes us the ultimate partner and supplier to global fertilizer producers. Our products add value and enhance our customer’s final fertilizer product quality, plant efficiency, workplace safety, all while complying with world-wide environmental regulations. We partner with you to develop custom-made coatings, taking into consideration your fertilizer exact specifications, environmental and market factors, allowing us to help you meet your specific process requirements and deliver the results you deserve.</p>
    <p>Our <strong>UltraCot</strong> and <strong>UltraDy</strong> series of anti-caking, anti-dusting and coloring agents are currently being used to coat millions of tons of our partner’s fertilizers yearly. We create tailor-made coating additives for different types of fertilizers including:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Monoammonium Phosphate (MAP)</li>
        <li>Diammonium Phosphate (DAP)</li>
        <li>All grades of Nitrogen, Phosphorus and Potassium (NPK)</li>
        <li>Triple-Super Phosphate (TSP)</li>
      </ul>
      <ul>
        <li>Calcium Ammonium Nitrate (CAN)</li>
        <li>Urea-based</li>
      </ul>
    </div>
    <p>Our process aids, such as defoamers, UltraFloc flocculants, granulation aids, corrosion inhibitors and anti-scalants are custom-made and effectively optimized by our team of technical support experts during application of our products, allowing you to maximise the potential of your production facility.</p>
    <p>Our innovative product range fertilizer coatings and process aids offer you a cost and time-effective way to manufacture fertilizers by enhancing capacity utilization and increasing the recovery of nutrient inputs, while also ensuring the quality, storage and transport durability, and marketability of your finished product. We can provide you with a complete chemical solutions package custom-made to help you succeed.</p>
    <div id="coloring_agents" class="product-solutions-image" style="background-image: url('<%= image_url('products/general-mining.jpg')%>');">
      <h2 class="image-text">Coloring Agents</h2>
    </div>
    <p>In today’s marketplace, there is an increasing demand for colored fertilizers. Many of the world’s largest fertilizer manufacturers have increased production of colored fertilizers to meet market demand for their products.</p>
    <p><strong>JAS Global Indusries</strong> offers a diverse range of coloring agents, formulated using dyes and pigments for surface coloring and/or full body coloration, for fertilizer granules. These speciality coloring agents of high-tinting strengths can also modify the color, sheen, and translucency of the granule surface as desired. Our coloring agents also provide a uniform appearance and create a unique product identification for each fertilizer manufacturer.</p>
    <p>Our UltraDy coloring agents can be used in NPK, NPS, DAP, MAP, TSP, S-based fertilizers, urea-based fertilizers, and chlorine-based compound fertilizers. Furthermore, our fertilizer coloring chemical additives are formulated using superior quality raw materials which enhance the properties of the fertilizer granule, such as:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Strong dispersion and binding properties </li>
        <li>Minimizing caking tendency</li>
        <li>Enhancing flowability</li>
        <li>Minimizing moisture absorption </li>
        <li>Regulating nutrient release</li>
      </ul>
    </div>
    <p>In addition, our anti-caking agents and dust control additives, under the brand name UltraCot, can be customized to transmit color to the surface of the substrate. Our field application engineers and expert scientists, can diagnose and optimise the dosage of the appropriate colorant, coating agent, or, in some cases, a combination of multiple coloring agents to fulfill our customers’ objectives.</p>
    <div id="dust_management" class="product-solutions-image" style="background-image: url('<%= image_url('products/general-mining.jpg')%>');">
      <h2 class="image-text">Dust Management</h2>
    </div>
    <p>Dust is a fixed property in dry fertilizers, with dust generation occuring during the production, storage, use, and transport stages of the material. There are many influencing factors that can cause this to happen. Some defective fertilizer production processes can result in overly fragile fertilizer which deteriorates into dust at various stages of the process. In addition, fluctuations in temperature and humidity can lead to granule integrity loss, with application equipment can leading to the breakage of the granule.</p>
    <p>Depending on the amount of dust formed, dust generation can severely deteriorate air quality which can affect the health and safety of on-site personnel handling the fertilizer material. Additionally, dust formation usually leads to loss of valuable fertilizer products which results in yield and production damages.</p>
    <p>To address this challenge that global fertilizer manufacturers face, <strong>JAS Global Indusries</strong> developed a line of dust control chemical additives, UltraCot, that are applied during the production process.</p>
    <p>UltraCot provides the following advantages to our customers:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Durable dust control
        <li>Easy application to dry fertilizer through optimized dosage systems
        <li>Minimal to no impact on fertilizer flowability 
        <li>Formulated using raw materials that allows fertilizers to be safely used in downstream applications including agriculture
        <li>UltraCotComplies with regulatory bodies such as REACH
        <li>Increases your fertilizer’s marketability 
        <li>Tailored and optimized to meet your specific needs
        <li>Advanced coating technology with anti-caking agents to help you overcome fertilizer caking tendencies
        <li>Improves the sustainability of your fertilizer processes, helping you meet your environmental and efficiency targets
      </ul>
    </div>
    <div id="anti_caking" class="product-solutions-image" style="background-image: url('<%= image_url('products/general-mining.jpg')%>');">
      <h2 class="image-text">Anti Caking</h2>
    </div>
    <p>Fertilizer caking is a highly problematic concern that can set you back in the fertilizer production, storage, transport, and application process. It occurs when:</p>
    <ul class="ul-bullet-points">
      <li>Pressure from storage conditions leads to plastic deformation at the surface of fertilizer particles, which causes adhesion to new contact surfaces due to reduced water vapor pressure</li>
      <li>Bridges result between the surfaces of fertilizer particles from the crystallization of water soluble salts</li>
    </ul>
    <p>Caking not only lessens the value of your fertilizer, but can also damage your equipment and cause severe safety hazards for your workers. Caked fertilizer stored in bulk in open bins can cause unstable “cliffs”, which is extremely hazardous for equipment operators as those piles of “cliffs” can dislodge and plummet down like a landslide. This makes loading and unloading of the material more challenging, causes erroneous distribution of the material during blending, field application, and other compounding operations, and ultimately, damages the handling equipment.</p>
    <p>These concerns can be easily avoided with the right conditioning treatments for fertilizers, which will ensure the value of your product and the safety of your workers. This will allow you to go to market with a top-of-the-line fertilizer product that has been appropriately treated, ensuring you get the full value out of your product. <strong>JAS Global Indusries’</strong> UltraCot anti-caking agents can be applied as an external treatment and will protect your fertilizer from common caking issues, as well as reduce dust formation. We will personally help you select the best product to address your specific anti-caking needs. Specifically, our anti-caking agents provide:</p>
    <ul class="ul-bullet-points">
      <li>Effective and long-lasting caking management</li>
      <li>Safe and sustainable formulations</li>
      <li>Cost-efficient caking management</li>
      <li>Adherence to regulatory requirements</li>
    </ul>
    <p>The product portfolio for Fertilizer additives includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Anti-caking Agents</li>
        <li>Anti-dusting Agents</li>
        <li>Coloring Agents</li>
        <li>Granulation Aids</li>
      </ul>
      <ul>
        <li>Antifoams/Defoamers</li>
        <li>Heavy Metals Removal</li>
      </ul>
    </div>
    <div id="potash" class="product-solutions-image" style="background-image: url('<%= image_url('products/potash.jpg')%>');">
      <h2 class="image-text">Potash</h2>
    </div>
    <p>Traditionally, the production of Potash is a method of producing Potassium Carbonate from leaching wood ash, boiling the solution, and leaving behind white solid residue as the end result. Nowadays, Potash ores are mined to retrieve Potash Salt – one of the key ingredients for plant growth due to its ability to produce sugar and starches, regulate water conditions within plant cells, improving the effect of Nitrogen fertilizer in soil, and activating enzymes. Potash is also retrieved from sea-water such as the Dead Sea in Jordan in which both techniques of retrieval are implemented for the production of KCl fertilizers. <strong>JAS Global Indusries</strong> provides superior chemical additives that support the mining process to ensure optimal operational efficiency. See below for our full product portfolio.</p>
    <p>The product portfolio for Potash includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Anticaking Agents</li>
        <li>Floatation agents</li>
        <li>Flocculants</li>
        <li>Coagulants</li>
      </ul>
    </div>
    <div class="border-divider" style="margin-bottom:50px;"></div>
    <%= render "download_section" %>
  </div>
</div>
