<div class="product-solutions-container">
  <h2 class="product-solutions-header">Mining</h2>
  <br>
  <h2>Meeting or exceeding the most stringent technical and environmental specifications, our specialty mining reagents help customers in the mining industry improve their productivity and reduce operating costs while meeting complex metallurgical challenges. Solvay is the leading solutions provider and partner to the mining industry. We leverage more than 100 years of industry knowledge, applications expertise and on-site technical support to optimize mining operations worldwide in mineral processing, mineral refining and solvent extraction.</h2>
  <br>
   <div class="product-solutions-image" style="background-image: url('<%= image_url('products/general-mining.jpg')%>');">
    <h2 class="image-text">General</h2>
  </div>
  <p><strong>JAS Global Industries</strong> is the leading chemical solutions provider and partner to the global mining industry. Leveraging over two decades of application expertise and specialized technical support and services, our mining additives have successfully solved our customers’ challenges through advanced custom-made additives specifically formulated to enhance the optimization and efficiency of mining processes. Our process solutions include Antiscalants, flocculants, floatation agents, grinding aids, and viscosity modifiers that not only solve the problems at hand, but also improve the overall sustainability and process throughout.</p>
  <p>We help our customers meet complex metallurgical, economic, safety, and environmental challenges by providing cutting-edge solutions and maximizing the grade and recovery of natural resources during these processes. Our advanced chemical additives bring you real value and contribute to the sustainability of the mining industry. We work with you from the beginning to strategize modern and improved approaches to achieve optimum productivity with our products. Our core product line includes:</p>
  <div class="product-solutions-list-div">
    <ul class="product-solutions-ul-first">
      <li>Collectors (anionic and cationic)</li>
      <li>Defoamers</li>
      <li>Depressants</li>
      <li>Dispersants</li>
      <li>Filtration and dewatering aids</li>
      <li>Floatation agents</li>
    </ul>
    <ul>
      <li>Flocculants</li>
      <li>Frothers and surfactants</li>
      <li>pH modifiers</li>
      <li>Rheology modifiers</li>
    </ul>
  </div>
  <p>We develop and offer a wide range of cutting-edge and innovative chemical additive solutions for the following related industries:</p>
  <ul class="product-solutions-ul-first">
    <li>Phosphate</li>
    <li>Phosphoric Acid </li>
    <li>Alumina </li>
    <li>Minerals</li>
 </ul>
  <div class="product-solutions-image" style="background-image: url('<%= image_url('products/phosphate-mining.jpg')%>');">
    <h2 class="image-text">Phosphate</h2>
  </div>
  <p>Increased market competitiveness and demand combined with the declining ore quality have led to the importance of plant optimization and recovery by mining operators more than ever. This eliminates many of our competitor’s “one-for-all” chemical solutions that tackle the common challenges facing the industry currently. At JAS Global Industries, we take pride in our custom-made solutions that are specifically designed for each of customers processes which differ significantly in ore quality, composition, and above all, plant configuration.</p>
  <p>Our experience over the last two decades along with on-site application expertise allows us to leverage our unique and innovative chemistry platforms to technically support and help our customers with custom-made solutions allowing them to optimise their plant operations and production yield in a cost-effective manner.</p>
  <p><strong>JAS Global Industries</strong> offers an extensive range of products that support activities in the phosphate value chain.</p>
  <p>The product portfolio for Phosphate Mining includes:</p>
  <div class="product-solutions-list-div">
    <ul class="product-solutions-ul-first">
      <li>Antifoams/Defoamers</li>
      <li>Flocculants </li>
      <li>Dewatering Aids </li>
      <li>Floatation Agents</li>
    </ul>
    <ul>
      <li>Rheology Modifiers</li>
      <li>Grinding Aids</li>
      <li>Dust Suppressants</li>
    </ul>
  </div>
  <div class="product-solutions-image" style="background-image: url('<%= image_url('products/phosphoric-acid.jpg')%>');">
    <h2 class="image-text">Phosphoric Acid</h2>
  </div>
  <p>Environmental sustainability, chemical and plant efficiency, and product quality are essential elements in phosphoric acid production. <strong>JAS Global Industries</strong> addresses these factors head-on to provide you with a wide range of formulations to ensure all of these priorities are not only met but exceed your expectations.</p>
  <p>We ensure that you comply with the increasingly complex environmental regulations, but at the same time, step up the game to ensure your production process is as sustainable as can be. From controlling exhaust gases, to eliminating visual emissions, to disposing of contaminated wastewater safely, we ensure you are adequately prepared to meet these regulations. As environmental sustainability is increasingly prioritized, we have adapted our defoamer formulations to meet these requirements in the most sustainable way. Our product range will lower reactor levels, reduce foam that can damage equipment, and eliminate reactor overflows, ensuring you are adequately prepared for sustainable production.</p>
  <p>The presence of mineral impurities and dissolved gases can interfere with the chemical reactions that ensure you have high-quality phosphate deposits. Our defoamers significantly reduce these interferences to ensure proper crystal formulation and growth. Not only do we have defoamers to ensure you achieve chemical efficiency, but we also provide filtration aids that improve plant productivity. Phosphoric acid production plants need to vacuum filter sufficient amounts of acid to boost production rates, and with our filtration aids, you are guaranteed long-term effectiveness of your filtration system. With this in mind, we work with you to ensure that both your chemical efficiency and plant production rates are working hand-in-hand to provide you with optimal results.</p>
  <p>Finally, impurity levels of phosphoric acid must be low in order to meet the expectations for the production of concentrated fertilizers. While this can be difficult to achieve for some, our clarifying aids are more than effective at improving acid quality. With our aids, the settling and removal rates of impurities are significantly improved, which will ensure you produce an optimal product for the production of top-of-the-line fertilizers.</p>
  <p>The product portfolio for Phosphoric Acid includes:</p>
  <div class="product-solutions-list-div">
    <ul class="product-solutions-ul-first">
      <li>Antifoams/Defoamers</li>
      <li>Flocculants </li>
      <li>Dewatering aids </li>
      <li>Heavy metals removal </li>
    </ul>
    <ul>
      <li>Rheology modifiers</li>
      <li>Scale inhibitors</li>
    </ul>
  </div>
  <div class="product-solutions-image" style="background-image: url('<%= image_url('products/alumina-mining.jpg')%>');">
    <h2 class="image-text">Alumina Mining</h2>
  </div>
  <p>In recent years, market volatility and public scrutiny has challenged the alumina industry to improve operational efficiency of refineries. Safety, health, and environmental factors have dictated the new government regulations, urging refineries to act more sustainably. <strong>JAS Global Industries’</strong> can help you tackle this challenge by providing you with cost-efficient chemical additives to address your needs, including reducing energy consumption and emissions, and effectively disposing of waste.</p>
  <p>We provide refinery operators with a full range of products that help improve productivity and reduce operating costs, while prioritizing safety, health, and the environment. With our formulation expertise, modelling capabilities, and application knowledge, we partner with you to achieve greater profitability with a reduced environmental footprint. We deliver elite technical solutions to ensure mining operations are optimized to your advantage. </p>
  <p>F-Strike® is our range of multi-purpose defoamers that include dispersions, oils, and silicon and organic emulsions.</p>
  <p>OptiBaux® is designed to improve the grinding processes of Bauxite and loading capacity in alumina extraction refineries. This allows you to increase overall output, with no alterations to the quality or size of the finished product.</p>
  <p>UltraCog® is our range of liquid coagulants for use as a humate removal aid, to reduce organic compounds before settlers, and iron removal aid, to reduce iron content before safety filtration.</p>
  <p>UltraDry® is our surfactant formulation designed to improve the performance and productivity of vacuum filters by increasing the dry content of the cake. This formulation also reduces maintenance costs, electricity consumption, cake moisture, and filter cloth consumption.</p>
  <p>UltraFix® provides a protective coating for ore stockpiles that evenly coats the treated surface with a waterproof layer that effectively controls dust. Ultimately, this prevents dust emissions and saves you water.</p>
  <p>The product portfolio for Alumina Mining includes:</p>
  <div class="product-solutions-list-div">
    <ul class="product-solutions-ul-first">
      <li>Bauxite Grinding and Handling Aids</li>
      <li>Scale Inhibitors</li>
      <li>Crystal Growth Modifiers</li>
      <li>Defoamers</li>
    </ul>
    <ul>
      <li>Dewatering Aids</li>
      <li>Dust Control Agents</li>
      <li>Flocculants</li>
      <li>Gibbsite Auto-Precipitation Reduction Aids</li>
    </ul>
    <ul>
      <li>Humate Removal Aids</li>
      <li>Iron Removal Aids</li>
      <li>Liquor Filtration Aids</li>
      <li>Sodalite Scale Inhibitors</li>
    </ul>
  </div>
  <div class="product-solutions-image" style="background-image: url('<%= image_url('products/mineral-processing.jpg')%>');">
    <h2 class="image-text">Mineral Processing</h2>
  </div>
  <p><strong>JAS Global Industries</strong> offers a wide range of chemical reagents dedicated for the recovery of base and precious metals such as:</p>
  <ul class="ul-bullet-points">
    <li>Gold</li>
    <li>Nickel</li>
    <li>Copper</li>
    <li>Molybdenum</li>
    <li>Cobalt</li>
    <li>Platinum group of metals</li>
    <li>Poly-metallics</li>
  </ul>
  <br>
  <p>JAS Global Industries is a global leader in providing innovative and custom-made mining solutions to our customers in the industry. Our team of experts partner with our customers to maximise the performance of their process through implementing application expertise and optimum reagent selection in which contribute to our customer’s market competitiveness.</p>
  <p>Our mission is to increase the efficiency and optimization of our customers operations through providing sustainable cutting-edge technologies while being cost-effective.</p>
  <p>We offer a full range of additives for the recovery of precious metals that go under the brand names given in the product portfolio below. </p>
  <p>The product portfolio for Mineral Processing includes:</p>
</div>
