<%= render "sidebar" %>
<div class="product-solutions-container">
  <div class="product-main-right-div">
    <h2 class="product-solutions-header">Textile & Leather</h2>
    <div id="textile_and_leather_general" class="product-solutions-image" style="background-image: url('<%= image_url('products/textile-and-leather.jpg')%>');">
      <h2 class="image-text">General</h2>
    </div>
    <p>With increased requirements of individualization and shorter life cycles of fashion trends, there is a greater demand from textile and leather manufacturers to offer flexibility in their products. The answer to this is our innovative and sustainable textile and leather chemical additives. <strong>JAS Global Indusries</strong> manufactures a wide range of solutions specifically formulated to match the production of all types of leather and textiles allowing our customers to meet all test specifications.</p>
    <p>Our product range is a blend of traditional and new generation products, with a focus on sustainability. Key drivers for the development of our cutting edge products are a reduction in the environmental impact while adding value and enhancing the beauty of leather and textile.</p>
    <p>Our technical experts work closely with our partners in the textile and leather industry to develop best-in-class polymeric and sustainable solutions that optimise their process while being cost-effective. We base our success on continuous product and process innovations and customize our formulas based on the unique performance criteria and manufacturing of our customers.</p>
    <p><strong>JAS Global Indusries</strong> has been the preferred partner to the textile and leather industry for well over two decades. Our extensive expertise covers a comprehensive portfolio of custom-made solutions:</p>
    <p>The product portfolio for Textile & Leather includes:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Acrylic Thickeners</li>
        <li>Anti-migration Agents</li>
        <li>Finishing Agents</li>
        <li>Fixation Agents</li>
      </ul>
      <ul class="product-solutions-ul-first">
        <li>Leather Retaining Agents</li>
        <li>Polymeric Lubricants</li>
        <li>Sizing Agents</li>
      </ul>
    </div>
     <div class="request-information-container">
      <h2 class="product-solutions-header-bottom">Request Product Documentation</h2>
      <% @products.each do |product| %>
        <div data-controller="modal_reveal">
          <div class="product-download-section">
            <p class="product-title-download"><%= product.name %></p>
            <div>
              <p><strong>Category:</strong> <%=  product.category.name%></p>
              <p><strong>Market:</strong> <%=  product.market.name%></p>
            </div>
            <button class="download-button" data-modal_reveal-target="button" data-action="click->modal_reveal#toggleModal">Request Documentation</button>
          </div>
          <div data-modal_reveal-target="window" class="d-none product-lead-form-div">
            <%= simple_form_for @product_lead, url: products_water_treatment_path, method: :post, data: { turbo: false } do |f| %>
              <div class="close-button-div">
                <h3 class="form-header">Request Documentation</h3>
                <button class="close-form-button" data-modal_reveal-target="button" data-action="click->modal_reveal#toggleModal">Close</button>
              </div>
              <div>
                <%=  f.association :product, collection: @products, required: true, label: false, selected: product.id %>
              </div>
              <div class="contact-form-bottom">
                <div class="contact-form-left">
                  <%=  f.input :first_name, input_html: { class: "contact-input" }, required: true %>
                  <%=  f.input :email, input_html: { class: "contact-input" }, required: true %>
                  <%=  f.input :city, label: "City (optional)", input_html: { class: "contact-input" }%>
                </div>
                <div class="contact-form-right">
                  <%=  f.input :last_name, input_html: { class: "contact-input" }, required: true %>
                  <%=  f.input :phone_number, label: "Phone number", input_html: { class: "contact-input" } %>
                  <%=  f.input :company, input_html: { class: "contact-input" }, required: true %>
                </div>
              </div>
                <%=  f.country_select :country, { include_blank: 'Select a country' } ,required: true %>
              <div>
              </div>
              <p class="terms-contact-form">The personal data contained in this form is intended for the sole use of JAS Global Industries. We will use this data to respond to your request or obtain additional information from you as needed, as the case may be. You have the right to access, correct and request the deletion, restriction or portability of your personal data as applicable, or object to its processing, by sending an electronic mail to privacy@jasind.com. For more information, please visit our ‘JAS Global Industries Data Protection and Privacy Policy’ available at: Privacy policy</p>
              <div class="submit-box">
                <div class="terms-div">
                  <%=f.check_box :terms_and_conditions, required: true %>
                  <p>I hereby agree to the storage and the use of my personal data by JAS Global Industries to answer to the inquiry above.</p>
                </div>
                <%= f.submit "Submit", id: "submit-button" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
