<%= render "sidebar" %>
<div class="product-solutions-container">
  <div class="product-main-right-div">
    <h2 class="product-solutions-header">Water Treatment</h2>
    <br>
    <h2 class="subheader-products">Combating global water scarcity thanks to our water treatment chemical solutions.</h2>
    <br>
    <p>JAS Global Industries offers a comprehensive portfolio of world class water treatment chemicals accompanied by specialized technical support that industrial water treatment operators can rely on to help maintain their operations cost effective, efficient and safe.</p>
    <p>As more restrictions are being placed by environmental regulators and at a time where the world is facing serious water shortages – our advanced water treatment technologies allow our customers to achieve their water treatment objectives by helping them overcome a wide range of common challenges associated with industrial water treatment operations. These common challenges include scale build up, foaming, corrosion, microbial growth and non-compliant waste effluent release.</p>
    <p>Our portfolio includes a wide range of formulated solutions including scale inhibitors, anti-foams, corrosion inhibitors, biocides, flocculants and coagulants all supported by technical and service engineers and experts to help ensure the optimum performance of our products at your industrial water treatment operation.</p>
    <p>This extensive range of water treatment chemicals significantly improve and solve challenges originating from the treatment of industrial and process waters. JAS Global Industries’ industrial water and wastewater treatment products are used globally in a wide range of settings. Our expertise also covers all areas of water use including:</p>
    <div class="product-solutions-list-div">
      <ul class="product-solutions-ul-first">
        <li>Industrial Water Treatment</li>
        <li>Thermal Desalination</li>
        <li>Membrane Desalination</li>
        <li>Mining</li>
      </ul>
      <ul>
        <li>Construction</li>
        <li>Home Care</li>
        <li>Personal Care</li>
        <li>Paper & Pulp</li>
      </ul>
    </div>
    <div id="thermal_desalination" class="product-solutions-image" style="background-image: url('<%= image_url('products/thermal-desalination.jpg')%>');">
      <h2 class="image-text">Thermal Desalination</h2>
    </div>
    <p>Innovations in the water industry play a crucial role in maintaining the supply of clean water. An example of this is Thermal Desalination: turning saltwater into water suitable for everyday human consumption. Modern desalination facilities employ the process of distillation through Multi-Stage Flash Distillation (MSF) and Multi-Effect Distillation (MED). Nowadays, desalinated seawater is one of the major alternatives to fresh water, helping address water scarcity in arid and dry regions such as the Middle East, North Africa and southern Europe.</p>
    <p><strong>JAS Global Industries’</strong> advanced thermal desalination solutions effectively manage and solve problems commonly associated with water desalination by MSF and MED processes. Being the only manufacturer of regionally approved Thermal Desalination chemical formulations – we take pride in being an essential partner to the Thermal Desalination industry in the MENA region by providing the most advanced and sustainable chemical solutions and services.</p>
    <p>Our UltraCareⓇ range of Antiscalants & Antifoulants, F-strikeⓇ Anti-foams, and OxyhuntⓇ Oxygen Scavengers have proven outstanding results in desalination plants throughout the MENA region.</p>
    <p>The product portfolio for Thermal Desalination includes:</p>
    <ul class="product-solutions-ul-first">
      <li>Antiscalants & Antifoulants</li>
      <li>Antifoams</li>
      <li>Oxygen Scavangers</li>
      <li>Acid Inhibitors</li>
      <li>Ion Exchange Resins – Anionic & Cationic</li>
    </ul>
    <p>JAS Global Industries also provides specialized technical service and support with both on-site dosage optimization and online monitoring technology applied to enhance monitoring of key operational performance parameters and live feedback.</p>
    <div id="reverse_osmosis" class="product-solutions-image" style="background-image: url('<%= image_url('products/reverse-osmosis.jpg')%>');">
      <h2 class="image-text">Reverse Osmosis</h2>
    </div>
    <p>Due to the high consumption of energy when heating the water in MSF and MED desalination systems, Membrane Desalination (Reverse Osmosis) processes utilizing specific membranes were developed and are implemented world-wide. Membrane Desalination systems are the most sustainable and cost-efficient way to meet this demand due to the recent improvements in desalination technology allowing the utilization of water from saline sources – typically brackish and seawater. Reverse Osmosis (RO) plants can successfully remove salt, bacteria, and other deposits from seawater and chemically treat the water to provide usable freshwater to meet the growing demand.</p>
    <p><strong>JAS Global Industries’</strong> advanced chemical additives are designed and formulated to enhance your membrane process to give you optimal results and protection even under challenging conditions.</p>
    <p>Our UltraCare® range, composed of a new generation of RO scale inhibitors, will enhance the efficiency of your membrane process. These Antiscalants and Antifoulants are specifically designed to remove all deposits and bacterial activity, as well as protect your operation against carbonate, sulphate, phosphate, and silica scaling. This will control bacterial activity at any pH, keeping your membrane surfaces efficiently clean from scale, even under the most challenging conditions.</p>
    <p>Our UltraFloc® range of polyamine, polydadmac, and polyacrylamide coagulants and flocculants will optimize your RO pre-treatment processes, including filtration, floatation, and settling processes. These enhanced processes effectively remove suspended sediment and improve your Silt Density Index (SDI) reduction.</p>
    <p>Our UltraClean® range is designed to keep your membrane clean throughout regular cleaning routines.</p>
    <p>The product portfolio for Reverse Osmosis includes:</p>
    <ul class="product-solutions-ul-first">
      <li>Antiscalants & Antifoulants</li>
      <li>Cleaners</li>
      <li>Coagulants</li>
      <li>Flocculants</li>
      <li>Ion Exchange Resins</li>
      <li>Disinfectants & Sanitizers</li>
    </ul>
    <div id="wastewater_treatment" class="product-solutions-image" style="background-image: url('<%= image_url('products/waste-water.jpg')%>');">
      <h2 class="image-text">Wastewater Treatment</h2>
    </div>
    <p>Most factory activities and industrial processes use tremendous amounts of water which can lead to a significant amount of wastewater. While manufacturers do implement strict water efficiency measures and make effort to recycle the water, wastewater is unavoidable in industrial processes. As a result, this wastewater requires on-site treatment before being discharged to prevent damaging the environment as well as sewer surcharge fees. Depending on the industry and the type of wastewater generated, JAS Global Industries can provide you with the specific water treatment additives for all your wastewater treatment needs, including reducing solid waste.</p>
    <p>Our cost-efficient water treatment additives will not only reduce solids in your wastewater but will improve your overall operational efficiency by enabling faster and more efficient material recovery. Some other benefits of our solutions include:</p>
    <ul>
      <li>Cost-efficiency</li>
      <li>Energy efficiency</li>
      <li>Maximizing the efficiency of water reclamation, recycling, and re-use</li>
      <li>Protection of downstream processing equipment</li>
      <li>Reduction of Total Suspended Solids (TSS)</li>
      <li>Reduction of particulate Biological Oxygen Demand (BOD)</li>
      <li>Reduction of particulate Chemical Oxygen Demand (COD)</li>
      <li>Reduction of sewer surcharge fees</li>
      <li>Reduction of loading on expensive wastewater treatment systems </li>
      <li>Reduction of hauling costs and volume of waste materials</li>
      <li>Reduction of disposal costs</li>
      <li>Replacement of primary clarification / sedimentation systems</li>
      <li>Removal of fine particles and sediment from flow streams</li>
    </ul>
    <p><strong>JAS Global Industries’</strong> UltraFloc® flocculants and coagulants are formulated using various charges, physical forms, and molecular weights. They are designed for wastewater treatment, specifically sludge dewatering/thickening, floatation, clarification, decantation, and coagulation.</p>
    <p>The product portfolio for Wastewater treatment includes:</p>
    <ul class="product-solutions-ul-first">
      <li>Antifoams</li>
      <li>Flocculants (Anionic & Cationic)</li>
      <li>Odor Control Agents</li>
    </ul>
    <div id="steam_boilers" class="product-solutions-image" style="background-image: url('<%= image_url('products/steam-boilers.jpg')%>');">
      <h2 class="image-text">Steam Boilers</h2>
    </div>
    <p>To maintain optimal operational efficiency and performance of steam generating systems and steam boilers, proactively addressing common issues such as scale formation, corrosion, and sludge deposition is critical. Our boiler water treatment expertise combines state-of-the-art chemistry solutions with application experience to target these issues. Whether your goal is to extend your equipment’s lifespan or improve production, you can rely on <strong>JAS Global Industries</strong> to provide a custom-made solution that will cost-effectively address all your boiler treatment requirements.</p>
    <p>Our specialty chemical additives focus on managing a wide range of issues associated with industrial boilers.</p>
    <p>The product portfolio for Steam Boilers includes:</p>
    <ul class="product-solutions-ul-first">
      <li>Corrosion inhibitors (condensate and pre-boiler)</li>
      <li>Scale Inhibitors</li>
      <li>Neutralizing Amines</li>
      <li>Multi-purpose treatment</li>
      <li>Sludge Conditioners</li>
      <li>Alkalinity Builders</li>
      <li>Deposit Control Agents</li>
      <li>Oxygen Scavengers</li>
    </ul>
    <div id="cooling_systems" class="product-solutions-image" style="background-image: url('<%= image_url('products/cooling-systems.jpg')%>');">
      <h2 class="image-text">Cooling Systems</h2>
    </div>
    <p>Performance, reliability, and operational efficiency of cooling towers and heat exchangers can be deteriorated by corrosion, microbiological growth, and deposition. If not treated appropriately, these can lead to more severe damages, such as unscheduled outages and, as a result, higher maintenance costs. To preserve the performance of industrial cooling systems, <strong>JAS Global Industries</strong> offers a diverse range of chemical solutions that can be applied at various pH levels.</p>
    <p>The product portfolio for Cooling Systems includes:</p>
    <ul class="product-solutions-ul-first">
      <li>Biocides</li>
      <li>Bio-dispersants</li>
      <li>Bio-penetrants</li>
      <li>Cleaners</li>
      <li>Corrosion Inhibitors</li>
      <li>Deposit Control Agents</li>
      <li>Scale Inhibitors</li>
    </ul>
    <p>Our range of CWT-0 products are phosphate, phosphonate, and acrylate scale and corrosion inhibitors for open evaporative cooling systems.</p>
    <p>Our range of CWT-C products are nitrite, molybdate, and phosphonate-based corrosion and scale inhibitors for closed cooling systems.</p>
    <p>Our G-Strike W biocides range is based on isothiazolines and quaternary ammonium for control of microbiological growth in both open and closed cooling systems.</p>
    <div id="ion_exchange" class="product-solutions-image" style="background-image: url('<%= image_url('products/thermal-desalination.jpg')%>');">
      <h2 class="image-text">Ion Exchange</h2>
    </div>
    <p>Our UltraPure® range supplies high-capacity premium-grade conventional gel and macroporous ion exchange resins, designed for use in water softening, de-alkalization, deionization, and chemical processing applications, for both separate and mixed bed ion exchange plants.</p>
    <p>The product portfolio for Steam Boilers includes:</p>
    <ul class="product-solutions-ul-first">
      <li>Anionic Ion Exchange</li>
      <li>Cationic Exchange Resin</li>
      <li>Mixed-bed Exchange Resin</li>
    </ul>
    <div id="swimming_pools_and_disinfection" class="product-solutions-image" style="background-image: url('<%= image_url('products/swimming-pool.jpg')%>');">
      <h2 class="image-text">Swimming Pools & Disinfection</h2>
    </div>
    <p>Swimming pool operators and water/wastewater treatment professionals require disinfectants that are safe, effective, economical and easy to use. Our CLR® range of calcium hypochlorite tablets are available in quick-dissolving granules that offer superior performance, safety, and convenience for treatment of potable water, industrial water, sewage/wastewater, and swimming pools. In addition, our AquaGuard® and AquaClear® products offer a full range of other algaecide and clarifiers.</p>
    <p>The product portfolio for Swimming Pools & Disinfection includes:</p>
    <ul class="product-solutions-ul-first">
      <li>Algaecides & Fungicides</li>
      <li>Coagulants</li>
      <li>Granular Calcium Hypochlorite</li>
    </ul>
    <div class="border-divider" style="margin-bottom:50px;"></div>
    <%= render "download_section" %>


  </div>
</div>
